:root {
  --base-border-color: #DCDFE6;
  --dark-border-color: #D4D7DE;
  --darker-border-color: #CDD0D6;
  --brand-color: #409EFF;

  --form-font-indent: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
